In [114]:
import pandas as pd

In [150]:
df_sets_brickset = pd.read_csv('sets-brickset.csv')

# change number to bricklink format
df_sets_brickset['Number'] = [
    f'{number}-{variant}' for number, variant 
    in zip(df_sets_brickset['Number'], df_sets_brickset['Variant'])
]

# change column names, filter columns
df_sets_brickset = df_sets_brickset.rename(
    columns={col: col.lower() for col in list(df_sets_brickset)}
)[['number', 'theme', 'year', 'name', 'minifigs', 'pieces', 'usprice']]

# filter out sets with fewer than 25 pieces
df_sets_brickset = df_sets_brickset[df_sets_brickset['pieces'] > 25]

# filter out sets with NaN prices
df_sets_brickset = df_sets_brickset.dropna(subset=['usprice'])

# make NaN minifigs 0.0
df_sets_brickset = df_sets_brickset.fillna(value={'minifigs': 0.0})

# set types
df_sets_brickset = df_sets_brickset.astype({
    'number': 'str',
    'year': 'str'
})

df_sets_brickset

,number,theme,year,name,minifigs,pieces,usprice
0,497-1,Space,1979,Galaxy Explorer,4.0,338.0,32.00
1,1072-1,Dacta,1979,Supplementary LEGO Set,0.0,304.0,16.30
6,341-2,Fabuland,1979,Catherine Cat's House and Mortimer Mouse,2.0,123.0,3.00
91,8858-2,Technic,1980,Auto Engines,0.0,460.0,69.00
92,744-1,Basic,1980,"Universal Building Set with Motor, 7+",0.0,537.0,59.00
...,...,...,...,...,...,...,...
14386,41387-1,Friends,2019,Olivia's Summer Heart Box,2.0,93.0,7.99
14387,41388-1,Friends,2019,Mia's Summer Heart Box,1.0,85.0,7.99
14414,853906-1,Seasonal,2019,LEGO Greeting Card,0.0,40.0,4.99
14430,30362-1,City,2019,Sky Police Jetpack,2.0,33.0,3.99
14431,30571-1,Creator,2019,Pelican,0.0,62.0,3.99

In [151]:
df_sets_bricklink = pd.read_csv('sets-bricklink.tsv', sep='\t')

# rename and filter columns
df_sets_bricklink = df_sets_bricklink.rename(
    columns={
        'Number': 'number',
        'Weight (in Grams)': 'set_weight',
    }
)[['number', 'set_weight']]

# filter out sets without weight data
df_sets_bricklink = df_sets_bricklink[df_sets_bricklink['set_weight'] != '?']

# set types
df_sets_bricklink = df_sets_bricklink.astype({
    'number': 'str',
    'set_weight': 'float'
})

df_sets_bricklink

         number  set_weight
8         041-2       569.0
11        101-1        74.0
15       1029-1       142.0
17       1030-1      1189.0
18       1031-1       277.0
...         ...         ...
15568  75964-21        13.0
15569  75964-22         7.0
15570  75964-23        12.0
15571  75964-24         5.0
15572  75964-25         9.0

[11284 rows x 2 columns]

In [152]:
df_boxes = pd.read_csv('boxes-bricklink.tsv', sep='\t')

# rename and filter columns
df_boxes = df_boxes.rename(
    columns={
        'Number': 'number',
        'Weight (in Grams)': 'box_weight'
    }
)[['number', 'box_weight']]

# filter out sets without weight data
df_boxes = df_boxes[df_boxes['box_weight'] != '?']

# set types
df_boxes = df_boxes.astype({
    'number': 'str',
    'box_weight': 'float'
})

df_boxes

         number  box_weight
3         367-1      134.00
5        2164-1        0.45
8         217-2       41.00
9         603-2        3.00
11        293-1       30.00
...         ...         ...
15420  911951-1        1.50
15422   BIL01-1       14.00
15441   11920-1        2.00
15442  111903-2        1.50
15492   40336-1       30.50

[6437 rows x 2 columns]

In [153]:
df_instructions = pd.read_csv('instructions-bricklink.tsv', sep='\t')

# filter out instructions without weight
df_instructions = df_instructions[df_instructions['Weight (in Grams)'] != '?']

# rename and filter columns
df_instructions = df_instructions.rename(
    columns={
        'Number': 'number',
        'Weight (in Grams)': 'instruction_weight'
    }
)[['number', 'instruction_weight']]

# set types
df_instructions = df_instructions.astype({
    'number': 'str',
    'instruction_weight': 'float'
})

df_instructions

           number  instruction_weight
0          8470-1              102.00
2           691-1                3.40
3           367-1               20.00
8           293-1                3.40
9           645-2                3.40
...           ...                 ...
9231     col19-14                2.38
9232     col19-15                2.38
9233     col19-16                2.38
9235  GA11NoDk-99                9.00
9237      40336-1               21.70

[7130 rows x 2 columns]

In [155]:
# make a dictionary to compute inflation-adjusted prices

df_inflation = pd.read_csv('inflation.csv')
dollar_2019 = df_inflation['amount'].tolist()[-1]
dict_inflation = {
    str(year): dollar_2019 / amount for year, amount in zip(df_inflation['year'], df_inflation['amount'])
}

dict_inflation

{'1979': 3.5338567493112953,
 '1980': 3.113567961165048,
 '1981': 2.8224202420242026,
 '1982': 2.658632124352332,
 '1983': 2.5758835341365462,
 '1984': 2.469278152069298,
 '1985': 2.384368029739777,
 '1986': 2.340857664233577,
 '1987': 2.2584330985915497,
 '1988': 2.1687066779374473,
 '1989': 2.069016129032258,
 '1990': 1.9629533282325937,
 '1991': 1.8836857562408222,
 '1992': 1.8286386315039205,
 '1993': 1.7754878892733565,
 '1994': 1.731160593792173,
 '1995': 1.683451443569554,
 '1996': 1.63516889738687,
 '1997': 1.598492211838006,
 '1998': 1.5739754601226996,
 '1999': 1.539963985594238,
 '2000': 1.4898838559814174,
 '2001': 1.4486617730095992,
 '2002': 1.4261145080600333,
 '2003': 1.3943369565217392,
 '2004': 1.3581683430386449,
 '2005': 1.3136610343061954,
 '2006': 1.272609126984127,
 '2007': 1.2373662837244745,
 '2008': 1.1916136793263448,
 '2009': 1.195868311759743,
 '2010': 1.176569321642147,
 '2011': 1.1405669981639468,
 '2012': 1.1174420934344977,
 '2013': 1.1013105422889202,
 '2014': 1.0837304001081376,
 '2015': 1.0824455629764953,
 '2016': 1.0689604886524142,
 '2017': 1.0466628590078328,
 '2018': 1.0217085556546124,
 '2019': 1.0}

In [163]:
# join it all together!
df_merged = (
    df_sets_brickset
        .merge(df_sets_bricklink, how='left', on='number')
        .merge(df_boxes, how='left', on='number')
        .merge(df_instructions, how='left', on='number')
)

# add inflation-adjusted price
df_merged['adjusted_price'] = [
    price * dict_inflation[year] for price, year in zip(df_merged['usprice'], df_merged['year'])
]

df_merged

,number,theme,year,name,minifigs,pieces,usprice,set_weight,box_weight,instruction_weight,adjusted_price
0,497-1,Space,1979,Galaxy Explorer,4.0,338.0,32.00,NaN,NaN,46.3,113.083416
1,1072-1,Dacta,1979,Supplementary LEGO Set,0.0,304.0,16.30,NaN,NaN,NaN,57.601865
2,341-2,Fabuland,1979,Catherine Cat's House and Mortimer Mouse,2.0,123.0,3.00,NaN,NaN,35.0,10.601570
3,8858-2,Technic,1980,Auto Engines,0.0,460.0,69.00,513.0,133.00,100.0,214.836189
4,744-1,Basic,1980,"Universal Building Set with Motor, 7+",0.0,537.0,59.00,1338.0,316.00,90.0,183.700510
...,...,...,...,...,...,...,...,...,...,...,...
5978,41387-1,Friends,2019,Olivia's Summer Heart Box,2.0,93.0,7.99,132.0,NaN,NaN,7.990000
5979,41388-1,Friends,2019,Mia's Summer Heart Box,1.0,85.0,7.99,128.0,NaN,NaN,7.990000
5980,853906-1,Seasonal,2019,LEGO Greeting Card,0.0,40.0,4.99,NaN,NaN,NaN,4.990000
5981,30362-1,City,2019,Sky Police Jetpack,2.0,33.0,3.99,24.4,2.00,3.7,3.990000
5982,30571-1,Creator,2019,Pelican,0.0,62.0,3.99,39.0,2.55,3.9,3.990000

In [175]:
with pd.option_context('display.max_rows', None):
    display(df_merged[df_merged['year'] == '1991'])

,number,theme,year,name,minifigs,pieces,usprice,set_weight,box_weight,instruction_weight,adjusted_price
221,4558-1,Trains,1991,Metroliner,11.0,784.0,149.00,2800.00,NaN,127.00,280.669178
222,4563-1,Trains,1991,Load 'N Haul Railroad,3.0,476.0,120.00,2178.00,NaN,82.10,226.042291
223,6988-1,Space,1991,Alpha Centauri Outpost,5.0,406.0,80.00,1411.00,435.0,62.00,150.694860
224,4554-1,Trains,1991,Metro Station,8.0,600.0,72.00,1571.00,445.0,60.30,135.625374
225,6273-1,Pirates,1991,Rock Island Refuge,7.0,381.0,66.00,1249.00,457.0,50.00,124.323260
226,6541-1,Town,1991,Intercoastal Seaport,5.0,545.0,63.75,1362.00,NaN,42.00,120.084967
227,4031-1,Boats,1991,Firefighter,4.0,361.0,52.00,1081.00,NaN,39.80,97.951659
228,5550-1,Model Team,1991,Custom Rally Van,0.0,525.0,49.50,919.00,349.0,52.00,93.242445
229,6540-1,Town,1991,Pier Police,4.0,352.0,44.00,910.00,NaN,42.00,82.882173
230,6347-1,Town,1991,Monorail Accessory Track,0.0,54.0,35.00,927.00,299.0,20.00,65.929001
231,4021-1,Boats,1991,Police Patrol,3.0,195.0,34.00,761.00,NaN,20.00,64.045316
232,8838-1,Technic,1991,Shock Cycle,0.0,251.0,29.75,467.00,192.0,60.00,56.039651
233,6267-1,Pirates,1991,Lagoon Lock-Up,5.0,193.0,29.00,585.00,232.0,30.00,54.626887
234,6440-1,Town,1991,Jetport Fire Squad,2.0,159.0,27.50,308.00,82.2,15.00,51.801358
235,4539-1,Trains,1991,Manual Level Crossing,1.0,110.0,25.00,501.00,145.0,19.91,47.092144
236,6430-1,Town,1991,Night Patroller,1.0,140.0,25.00,258.00,NaN,15.00,47.092144
237,6933-1,Space,1991,Spectral Starguider,2.0,208.0,25.00,620.00,272.0,19.00,47.092144
238,4543-1,Trains,1991,Railroad Tractor Flatbed,1.0,178.0,22.00,302.00,48.0,19.00,41.441087
239,4011-1,Boats,1991,Cabin Cruiser,2.0,90.0,19.75,452.00,126.0,10.00,37.202794
240,6353-1,Town,1991,Coastal Cutter,2.0,185.0,19.00,306.00,98.0,20.00,35.790029
241,1881-1,Basic,1991,"Play Bucket of Bricks, 3+",1.0,288.0,15.00,NaN,NaN,NaN,28.255286
242,4536-1,Trains,1991,Blue Hopper Car,0.0,166.0,15.00,265.00,NaN,13.50,28.255286
243,2314-1,Duplo,1991,Building Set,0.0,38.0,14.50,NaN,NaN,NaN,27.313443
244,1475-1,Town,1991,Airport Security Squad,2.0,123.0,10.00,155.00,NaN,11.00,18.836858
245,4546-1,Trains,1991,Road & Rail Maintenance,1.0,77.0,10.00,108.00,NaN,5.83,18.836858
246,8810-1,Technic,1991,Cafe Racer,0.0,80.0,10.00,NaN,28.0,22.00,18.836858
247,6259-1,Pirates,1991,Broadside's Brig,3.0,68.0,8.75,90.00,27.0,8.00,16.482250
248,6669-1,Town,1991,Diesel Daredevil,1.0,90.0,8.75,121.00,NaN,5.53,16.482250
249,6878-1,Space,1991,Sub Orbital Guardian,1.0,69.0,8.00,113.00,27.0,13.00,15.069486
250,6887-1,Space,1991,Allied Avenger,1.0,100.0,7.93,148.00,36.0,10.00,14.937628
251,6679-1,Town,1991,Dark Shark,2.0,83.0,7.74,130.00,NaN,5.00,14.579728
252,6646-1,Town,1991,Screaming Patriot,1.0,65.0,6.75,77.61,18.0,5.80,12.714879
253,5157-1,Service Packs,1991,Town and Space Tools,0.0,32.0,3.50,20.00,3.0,NaN,6.592900
254,6234-1,Pirates,1991,Renegade's Raft,1.0,38.0,3.25,48.00,14.0,3.00,6.121979
255,6510-1,Town,1991,Mud Runner,1.0,34.0,3.25,46.00,NaN,2.80,6.121979
256,5165-1,Service Packs,1991,"Hinges, Couplings and Tilting Bearings",0.0,31.0,3.00,NaN,NaN,NaN,5.651057
257,5042-1,Service Packs,1991,"Space Light and Radar Plates, Disks and Cones ...",0.0,50.0,2.50,NaN,NaN,NaN,4.709214
258,5043-1,Service Packs,1991,"Mini Antennas, Control Sticks and Antennas",0.0,26.0,2.50,14.00,3.0,NaN,4.709214

appendix: merge brickset year csvs (not necessary to run analysis)

In [37]:
import os

brickset_path = 'sets-brickset'
list_dfs_brickset = []

for filename in os.listdir(brickset_path):
    list_dfs_brickset.append(
        pd.read_csv(os.path.join(brickset_path, filename))
    )

df_sets_brickset = pd.concat(list_dfs_brickset, ignore_index=True)

In [32]:
df_sets_brickset.to_csv('sets-brickset.csv', index=False)