In [114]:
import pandas as pd

In [115]:
df_sets_brickset = pd.read_csv('sets-brickset.csv')

# change number to bricklink format
df_sets_brickset['Number'] = [
    f'{number}-{variant}' for number, variant 
    in zip(df_sets_brickset['Number'], df_sets_brickset['Variant'])
]

# change column names, filter columns
df_sets_brickset = df_sets_brickset.rename(
    columns={col: col.lower() for col in list(df_sets_brickset)}
)[['number', 'theme', 'year', 'name', 'minifigs', 'pieces', 'usprice']]

# filter out sets with fewer than 25 pieces
df_sets_brickset = df_sets_brickset[df_sets_brickset['pieces'] > 25]

# filter out sets with NaN prices
df_sets_brickset = df_sets_brickset.dropna(subset=['usprice'])

# make NaN minifigs 0.0
df_sets_brickset = df_sets_brickset.fillna(value={'minifigs': 0.0})

# set types
df_sets_brickset = df_sets_brickset.astype({'year': 'str'})

df_sets_brickset

,number,theme,year,name,minifigs,pieces,usprice
0,497-1,Space,1979,Galaxy Explorer,4.0,338.0,32.00
1,1072-1,Dacta,1979,Supplementary LEGO Set,0.0,304.0,16.30
6,341-2,Fabuland,1979,Catherine Cat's House and Mortimer Mouse,2.0,123.0,3.00
91,8858-2,Technic,1980,Auto Engines,0.0,460.0,69.00
92,744-1,Basic,1980,"Universal Building Set with Motor, 7+",0.0,537.0,59.00
...,...,...,...,...,...,...,...
14386,41387-1,Friends,2019,Olivia's Summer Heart Box,2.0,93.0,7.99
14387,41388-1,Friends,2019,Mia's Summer Heart Box,1.0,85.0,7.99
14414,853906-1,Seasonal,2019,LEGO Greeting Card,0.0,40.0,4.99
14430,30362-1,City,2019,Sky Police Jetpack,2.0,33.0,3.99
14431,30571-1,Creator,2019,Pelican,0.0,62.0,3.99

In [116]:
df_sets_bricklink = pd.read_csv('sets-bricklink.tsv', sep='\t')

# rename and filter columns
df_sets_bricklink = df_sets_bricklink.rename(
    columns={
        'Number': 'number',
        'Weight (in Grams)': 'set_weight',
    }
)[['number', 'set_weight']]

# filter out sets without weight data
df_sets_bricklink = df_sets_bricklink[df_sets_bricklink['set_weight'] != '?']

# set types
df_sets_bricklink = df_sets_bricklink.astype({'set_weight': 'float'})

df_sets_bricklink

         number  set_weight
8         041-2       569.0
11        101-1        74.0
15       1029-1       142.0
17       1030-1      1189.0
18       1031-1       277.0
...         ...         ...
15568  75964-21        13.0
15569  75964-22         7.0
15570  75964-23        12.0
15571  75964-24         5.0
15572  75964-25         9.0

[11284 rows x 2 columns]

In [117]:
df_boxes = pd.read_csv('boxes-bricklink.tsv', sep='\t')

# rename and filter columns
df_boxes = df_boxes.rename(
    columns={
        'Number': 'number',
        'Weight (in Grams)': 'box_weight'
    }
)[['number', 'box_weight']]

# filter out sets without weight data
df_boxes = df_boxes[df_boxes['box_weight'] != '?']

# set types
df_boxes_bricklink = df_boxes_bricklink.astype({'box_weight': 'float'})

df_boxes.dtypes

number        object
box_weight    object
dtype: object

In [93]:
df_instructions = pd.read_csv('instructions-bricklink.tsv', sep='\t')

# filter out instructions without weight
df_instructions = df_instructions[df_instructions['Weight (in Grams)'] != '?']

# rename and filter columns
df_instructions = df_instructions.rename(
    columns={
        'Number': 'number',
        'Weight (in Grams)': 'instruction_weight'
    }
)[['number', 'instruction_weight']]

           number instruction_weight
0          8470-1                102
2           691-1                3.4
3           367-1                 20
8           293-1                3.4
9           645-2                3.4
...           ...                ...
9231     col19-14               2.38
9232     col19-15               2.38
9233     col19-16               2.38
9235  GA11NoDk-99                  9
9237      40336-1               21.7

[7130 rows x 2 columns]

In [103]:
# make a dictionary to compute inflation-adjusted prices

df_inflation = pd.read_csv('inflation.csv')
dollar_2019 = df_inflation['amount'].tolist()[-1]
dict_inflation = {
    year: dollar_2019 / amount for year, amount in zip(df_inflation['year'], df_inflation['amount'])
}

dict_inflation

{1979: 3.5338567493112953,
 1980: 3.113567961165048,
 1981: 2.8224202420242026,
 1982: 2.658632124352332,
 1983: 2.5758835341365462,
 1984: 2.469278152069298,
 1985: 2.384368029739777,
 1986: 2.340857664233577,
 1987: 2.2584330985915497,
 1988: 2.1687066779374473,
 1989: 2.069016129032258,
 1990: 1.9629533282325937,
 1991: 1.8836857562408222,
 1992: 1.8286386315039205,
 1993: 1.7754878892733565,
 1994: 1.731160593792173,
 1995: 1.683451443569554,
 1996: 1.63516889738687,
 1997: 1.598492211838006,
 1998: 1.5739754601226996,
 1999: 1.539963985594238,
 2000: 1.4898838559814174,
 2001: 1.4486617730095992,
 2002: 1.4261145080600333,
 2003: 1.3943369565217392,
 2004: 1.3581683430386449,
 2005: 1.3136610343061954,
 2006: 1.272609126984127,
 2007: 1.2373662837244745,
 2008: 1.1916136793263448,
 2009: 1.195868311759743,
 2010: 1.176569321642147,
 2011: 1.1405669981639468,
 2012: 1.1174420934344977,
 2013: 1.1013105422889202,
 2014: 1.0837304001081376,
 2015: 1.0824455629764953,
 2016: 1.0689604886524142,
 2017: 1.0466628590078328,
 2018: 1.0217085556546124,
 2019: 1.0}

In [104]:
# join it all together!

df_sets_brickset.join(df_sets_bricklink, on='number')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

appendix: merge brickset year csvs (not necessary to run analysis)

In [37]:
import os

brickset_path = 'sets-brickset'
list_dfs_brickset = []

for filename in os.listdir(brickset_path):
    list_dfs_brickset.append(
        pd.read_csv(os.path.join(brickset_path, filename))
    )

df_sets_brickset = pd.concat(list_dfs_brickset, ignore_index=True)

In [32]:
df_sets_brickset.to_csv('sets-brickset.csv', index=False)